<div class="row">
    <% if !current_user %>
      <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %>
    <% else %>
      <%= current_user.username %> | <%= link_to "Sign out", '/signout' %>
    <% end %>
    <h3>Our Products</h3>
    <ul>
      <% @products.each do |product| %>
          <li><h4><%= link_to product.name, product_path(product) %></h4></li>
      <% end %>
    </ul>
    <% if admin %>
      <%= link_to "Add Product", new_product_path %>
    <% end %>
</div>
