<% if !current_user && !current_admin%>
  <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %>
<% elsif current_user %>
  <%= current_user.username %> | <%= link_to "Sign out", '/signout' %>
  <% elsif current_admin %>
    <h4>Admin:</h4><%= current_admin.email %> | <%= link_to "Sign out", '/admin_signout' %>
<% end %>
<h3>Product List:</h3>
<% @products.each do |product| %>
  <ul>
    <li><%= link_to product.name, product_path(product) %></li>
  </ul>
<% end %>

<% if current_admin %>
  <%= link_to "Add Product", new_product_path %>
<% end %>
